# Gemini API Key
GEMINI_API_KEY=

# Supabase Configuration
VITE_SUPABASE_URL=https://svmwqxrbenhflyaxowvz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN2bXdxeHJiZW5oZmx5YXhvd3Z6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4ODcwOTcsImV4cCI6MjA5MzQ2MzA5N30.7l3PEl1PVaheHH1WufSYG24CyLNrDiaEJZEuI7M-VSo
